/* Body */

body {
    font-family: 'Open sans', sans-serif;
}


/* Navbar */

.navbar {
    background-color: #000F08;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    fill: #FFFFFF;
    width: 5vh;
}

.navbar-nav {
    width: -webkit-fill-available;
}

.nav-item {
    margin-inline: 1%;
}


/* Hero section */

#Hero-section {
    background-image: url(../img/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    top: 6.5vh;
    margin-bottom: 6.5vh;
}

#Hero-section div {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.25rem;
    text-shadow: 0px 3px 6px black;
}

#Hero-section h1 {
    font-weight: 800;
}


/* Ubicación */

#Ubicacion {
    color: #000F08;
    height: 40rem;
    display: flex;
    align-items: center;
    text-align: center;
}

#Ubicacion img {
    margin-bottom: 3em;
}

#Ubicacion h2 {
    font-weight: 700;
}

#Ubicacion p {
    font-weight: 400;
    font-size: 1.21rem;
    max-width: 34rem;
}


/* Charla */

#Charla {
    background-color: #A4452C;
    color: #FFFFFF;
}

#Charla h2, #Charla h3 {
    font-weight: 700;
}

#Charla h5 {
    font-size: smaller;
    line-height: 0;
}

#Charla p {
    font-size: 1.04rem;
    margin-block: 0;
}


/* Eventos */

#Eventos * {
    color: #000F08;
    font-weight: 700;
}

#Eventos a {
    text-decoration: none;
}

#Eventos img {
    border-radius: inherit;
}


/* Footer */

#Footer * {
    background-color: #000F08;
    color: #FFFFFF;
}

#Footer a {
    text-decoration: none;
}


/* Media query max medium device */

@media (max-width: 991.98px) {

    #Charla h5 {
        line-height: 1;
    }
}


/* evento01 */

#Simposio {
    color: #000F08;
    padding-block-start: 20vh;
}

#Simposio h1 {
    font-weight: 700;
    font-size: xx-large;
    margin-block-end: 8vh;
}

@media (max-width: 1199px) {

    #Simposio {
        padding-block-start: 15vh;
    }

    #Simposio h1 {
        margin-block-end: 5vh;
    }
}